# Ignore environment files
.env

# generate files and folders
.files/
.chainlit/
**/*chainlit.md
.venv/
qdrant_storage/
vdb/volumes

# other files and folders
misc

# Ignore __pycache__ directories
__pycache__/
**/__pycache__/

**/*upload_dir

# Ignore some local files
*.pdf
*.ipynb
**/*.ipynb
CR.md


# Ignore Python bytecode files
*.pyc
*.pyo
*.csv

.venv/
model_weights/
model_weights/*
!model_weights/.gitkeep # Keep the placeholder

data/
data/*
!data/.gitkeep

**/*.env.compose
kotaemon
./temps_img
.python-version
.vscode
.DS_Store
logs/
old_logs/

data2/

*.db

volumes/
volumes/*
!volumes/.gitkeep # Keep the placeholder

# benchmarking
evaluation-embedder-reranker

# services
services/
services/*
!services/.gitkeep # Keep the placeholder