# Ignore environment files
.env

# generate folders
.files/
.chainlit/

# other files and folders

chainlit_tuto/
try.ipynb
CR.md

# Ignore __pycache__ directories
__pycache__/
**/__pycache__/

**/*upload_dir

# Ignore some local files
*.pdf
*.ipynb
**/*.ipynb
CR.md

# Ignore Python bytecode files
*.pyc
*.pyo