include:
  - vdb/milvus.yaml

x-ragondin: &ragondin_template
  build:
    context: .
    dockerfile: Dockerfile
  volumes:
    - /ray_mount:/ray_mount
    - ./model_weights:/app/model_weights
    - ./data:/app/data # PDF data for RAG
    - ./ragondin:/app/ragondin # For dev mode
    - ${DATA_VOLUME_DIR:-./volumes}:/app/volumes
  network_mode: host
  env_file:
    - .env
  shm_size: 10.24gb

  depends_on:
    - milvus

services:
  # GPU - default 
  ragondin:
    <<: *ragondin_template
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [ gpu ]
    profiles:
      - '' # Empty string gives default behavior (but does not run when cpu requested)

  # No GPU (docker compose --profile cpu up --build)
  ragondin-cpu:
    <<: *ragondin_template
    deploy: {}
    profiles:
      - 'cpu'
