include:
  - vdb/milvus.yaml

x-ragondin: &ragondin_template
  build:
    context: .
    dockerfile: Dockerfile
  volumes:
    - ./.hydra_config:/app/.hydra_config
    - ${MODEL_WEIGTHS:-~/.cache/huggingface}:/app/model_weights
    - ./data:/app/data
    - ./ragondin:/app/ragondin # For dev mode
    - ${MILVUS_VOLUME_DIRECTORY:-./volumes}:/app/volumes

  ports:
    - "${APP_PORT:-8083}:${CONTAINER_PORT:-8080}"
    - ${RAY_DASHBOARD_PORT:-8265}:${RAY_DASHBOARD_PORT:-8265} # for ray dashboard

  env_file:
    - .env
  shm_size: 10.24gb

  depends_on:
    - milvus

services:
  # GPU - default 
  ragondin:
    <<: *ragondin_template
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [ gpu ]
    profiles:
      - '' # Empty string gives default behavior (but does not run when cpu requested)


  # No GPU (docker compose --profile cpu up --build)
  ragondin-cpu:
    <<: *ragondin_template
    deploy: {}
    profiles:
      - 'cpu'
