include:
  - vdb/${VDB_HOST}.yaml

x-ragondin: &ragondin_template
  build:
    context: .
    dockerfile: Dockerfile
    args:
      APP_PORT: ${APP_PORT}
  volumes:
    - ./.hydra_config:/app/.hydra_config
    - ./model_weights:/app/model_weights
    - ./data:/app/data # PDF data for RAG
    - ./ragondin:/app/ragondin # For dev mode

  ports:
    - "${APP_PORT}:${APP_PORT}"
    - 8265:8265 # for ray
  env_file:
    - .env
  shm_size: 10.24gb
  
  depends_on:
    - ${VDB_HOST}


services:
  # GPU - default 
  ragondin:
    <<: *ragondin_template
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all 
              capabilities: [gpu]
    profiles:
      - ''  # Empty string gives default behavior (but does not run when cpu requested)

  # No GPU (docker compose --profile cpu up --build)
  ragondin-cpu:
    <<: *ragondin_template
    deploy: {}
    profiles:
      - 'cpu'
