defaults:
  - _self_  # TODO: Silences the hydra version migration warning (PLEASE REVIEW FOR BREAKING CHANGES)
  - chunker: recursive_splitter #semantic_splitter
  - retriever: multiQuery
  - rag: ChatBotRag
  - llm: qwen

embedder:
  type: huggingface
  model_name: HIT-TMG/KaLM-embedding-multilingual-mini-v1
  
vectordb:
  host: ${oc.env:VDB_HOST, milvus}
  port: ${oc.env:VDB_PORT, 19530}
  connector_name: ${oc.env:VDB_CONNECTOR_NAME, milvus}
  collection_name: vdb_test
  hybrid_mode: true
  enable: true

insertion:
  n_concurrent_loading: 2 # Number of concurrent loading operations (2-3 is recommended, knowing that some loaders use gpu)
  n_concurrent_chunking: 2 # Number of concurrent chunking operations

reranker:
  model_name: jinaai/jina-colbert-v2
  top_k: 7

grader:
  grade_documents: false

verbose:
  verbose: true
  level: INFO

paths:
  prompts_dir: ${oc.env:PROMPTS_DIR, ../prompts}
  data_dir: ${oc.env:DATA_DIR, ../data}

prompt:
  rag_sys_pmpt: rag_sys_prompt_template.txt # rag_sys_pmpt_tmpl_ifa.txt
  context_pmpt_tmpl: contextualize_prompt_template.txt

loader:
  image_captioning: true
  file_loaders:
    docx: MarkItDownLoader
    # pdf: DoclingLoader
    # doc: DocLoader
    pptx: PPTXLoader
    # odt: CustomDocLoader

semaphore:
  llm_semaphore: ${oc.decode:${oc.env:LLM_SEMAPHORE, 10}}