defaults:
  - _self_  # TODO: Silences the hydra version migration warning (PLEASE REVIEW FOR BREAKING CHANGES)
  - chunker: markdown_splitter # recursive_splitter, semantic_splitter
  - retriever: single
  - rag: ChatBotRag

llm_params: &llm_params
  temperature: 0.1
  timeout: 60
  max_retries: 2
  logprobs: true

llm:
  <<: *llm_params
  base_url: ${oc.env:BASE_URL}
  model: ${oc.env:MODEL}
  api_key: ${oc.env:API_KEY}

vlm:
  <<: *llm_params
  base_url: ${oc.env:VLM_BASE_URL}
  model: ${oc.env:VLM_MODEL}  
  api_key: ${oc.env:VLM_API_KEY}

semaphore:
  llm_semaphore: ${oc.decode:${oc.env:LLM_SEMAPHORE, 10}}
  vlm_semaphore: ${oc.decode:${oc.env:VLM_SEMAPHORE, 10}}

embedder:
  type: huggingface
  model_name: ${oc.env:EMBEDDER_MODEL_NAME, jinaai/jina-embeddings-v3}
  base_url: ${oc.env:EMBEDDER_BASE_URL, http://vllm:8000/v1}
  api_key: ${oc.env:EMBEDDER_API_KEY, None}
  
vectordb:
  host: ${oc.env:VDB_HOST, milvus}
  port: ${oc.env:VDB_PORT, 19530}
  connector_name: ${oc.env:VDB_CONNECTOR_NAME, milvus}
  collection_name: vdb_test 
  hybrid_mode: true
  enable: true

reranker:
  enable: ${oc.decode:${oc.env:RERANKER_ENABLED, true}}
  model_name: ${oc.env:RERANKER_MODEL, Alibaba-NLP/gte-multilingual-reranker-base}
  reranker_type: ${oc.decode:${oc.env:RERANKER_MODEL_TYPE, colbert}}
  top_k: ${oc.decode:${oc.env:RERANKER_TOP_K, 4}}
  base_url: ${oc.env:RERANKER_BASE_URL, http://reranker:7997}

grader:
  enable: false

verbose:
  verbose: true
  level: INFO

paths:
  prompts_dir: ${oc.env:PROMPTS_DIR, ../prompts/example3}
  data_dir: ${oc.env:DATA_DIR, ../data}
  db_dir: ${oc.env:DB_DIR, /app/db}
  log_dir: ${oc.env:LOG_DIR, /app/logs}

prompt:
  rag_sys_pmpt: rag_sys_prompt_template.txt # rag_sys_pmpt_tmpl_ifa.txt
  contextualizer_pmpt: contextualizer_pmpt.txt
  chunk_contextualizer_pmpt: chunk_contextualizer_tmpl.txt
  image_describer: image_captioning.txt

loader:
  image_captioning: true
  save_markdown: true
  audio_model: ${oc.env:WHISPER_MODEL, base}
  file_loaders:
    txt: TextLoader
    pdf: ${oc.env:PDFLoader, DoclingLoader}  # DoclingLoader # MarkerLoader # PyMuPDFLoader # Custompymupdf4llm
    docx: MarkItDownLoader
    pptx: PPTXLoader
    doc: DocLoader
    png: ImageLoader
    jpeg: ImageLoader
    jpg: ImageLoader
    svg: ImageLoader
    wav: VideoAudioLoader
    mp3: VideoAudioLoader
    mp4: VideoAudioLoader
    ogg: VideoAudioLoader
    flv: VideoAudioLoader
    wma: VideoAudioLoader
    aac: VideoAudioLoader
    md: MarkdownLoader
  marker_max_tasks_per_child: ${oc.decode:${oc.env:MARKER_MAX_TASKS_PER_CHILD, 10}}

ray:
  num_gpus: ${oc.decode:${oc.env:RAY_NUM_GPUS, 0.1}}
  pool_size: ${oc.decode:${oc.env:RAY_POOL_SIZE, 1}}
  max_tasks_per_worker: ${oc.decode:${oc.env:RAY_MAX_TASKS_PER_WORKER, 5}}